{% extends "base.html" %}

{% block content %}

<h1>Bookmarks</h1>

{% for entry in db_list %}
    <p>{{ entry }}</p>
{% endfor %}


<p>Enter the id number of item you want to see information on</p>
<input type="number">
<button>Enter</button>

<h2>Results:</h2>

<p>Location: {{ entry.location }}</p>
<p>Date saved: {{ entry.date_saved }}</p>

<h3>Earthquakes</h3>
<div>
<!--    Earthquake info goes here-->
    {% for earthquake in entry.earthquake %}
    <p>{{ earthquake }}</p>
    {% endfor %}
</div>

<h3>Air Quality</h3>
<div>
<!--    air pollution info goes here-->
    {{ entry.aqi }}
</div>

<h3>Floods</h3>
<div>
<!--    flood info goes here-->
    {{ entry.flood }}
</div>



{% endblock %}