{% extends "base.html" %}

{% block content %}
<div style="margin:1em">
    <h1>Bookmarks</h1>

    {% if db_list | length > 0 %}
    {% for entry in db_list %}
    <p>{{ entry }}</p>
    {% endfor %}
    {% else %}
    <p>No results in your bookmarks</p>
    {% endif %}


    <p>Enter the id number of the bookmark you'd like more information on</p>
    <form action="/bookmarks">
        <input name="id" type="number">
        <input type="submit" value="Enter">
    </form>

    {% if entry %}
    <h2>Results:</h2>

    <p>Location: {{ entry.location }}</p>

    <h3>Earthquakes</h3>
    <div>
        <!--    Earthquake info goes here-->
        {% for earthquake in entry.earthquake %}
        <p>{{ earthquake }}</p>
        {% endfor %}
    </div>

    <h3>Air Quality</h3>
    <div>
        <!--    air pollution info goes here-->
        {{ entry.aqi }}
    </div>

    <h3>Floods</h3>
    <div>
        <!--    flood info goes here-->
        {{ entry.flood }}
    </div>
    {% endif %}
</div>

{% endblock %}
